/* doctor online css */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


@media (min-width: 1024px) {
  .container-fluid {
    width:1024px;
  }
}


.logo{
	margin-top:-10px;
	height: 40px;
	width: 40px;
}

.site-title{
	margin-top:-30px;
	padding-left: 60px;
	float:left;
}

.user-name{ 
	font-size: 16px;
	padding-left: 10px;
}

#loading-bar-spinner {
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
}

#loading-bar-spinner .spinner-icon {
  width: 128px;
  height: 128px;
  background-image: url("../img/spinner.png");
  background-color: #178BF7;
  opacity: 0.5;
  
  border:  solid 0px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 800ms linear infinite;
  -moz-animation:    loading-bar-spinner 800ms linear infinite;
  -ms-animation:     loading-bar-spinner 800ms linear infinite;
  -o-animation:      loading-bar-spinner 800ms linear infinite;
  animation:         loading-bar-spinner 800ms linear infinite;
}